---
import Image from '#components/Image.astro';
import PersonCard from '#components/PersonCard.astro';
import ProjectCard from '#components/ProjectCard.astro';
import Base from '#layouts/Base.astro';
import { Icon } from 'astro-icon/components';
import {
    getEntry,
    getEntries,
    getCollection,
    render,
} from 'astro:content';

export async function getStaticPaths() {
    const publications = await getCollection('publications');
    return publications.map((publication) => ({
        params: { id: publication.id },
        props: { publication },
    }));
}

const { publication } = Astro.props;
const { Content } = await render(publication);
const people = await getEntries(publication.data.people ?? []);
const project = publication.data.project !== undefined
    ? (await getEntry(publication.data.project))
    : undefined;
---
<Base
    title={publication.data.title}
    subheading={publication.data.authors}
    breadcrumbs={[{ url: '/publications', name: 'Publications' }]}
>
    <aside slot="sidebar-start" class="card bg-base-200 shadow-sm">
        {
            publication.data.image !== undefined
            && <figure>
                <Image
                    src={publication.data.image}
                    size={300}
                    aspectRatio={4 / 3}
                    enforceAspectRatio={false}
                    responsive
                    fullscreenModal
                />
            </figure>
        }
        <div class="card-body flex shrink-0 flex-col justify-start gap-3">
            <span class="font-lg font-medium">Published in {publication.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long' })}</span>
            <div class="flex flex-row flex-wrap gap-1">
                <div class="badge badge-primary badge-outline font-medium">
                    <span>{publication.data.venue}</span>
                </div>
                {
                    publication.data.award !== undefined
                    && <div class="badge badge-primary badge-outline font-medium">
                        <Icon name="mdi:trophy" class="size-4"/>
                        <span>{publication.data.award}</span>
                    </div>
                }
            </div>
            <div class="flex flex-wrap gap-1 md:flex-col">
                {
                    publication.data.paperURL !== undefined
                    && <a
                        href={publication.data.paperURL}
                        target="_blank"
                        class="btn btn-primary md:btn-block"
                    >
                        <Icon name="mdi:file-check-outline" class="size-4"/>
                        <span>Publication</span>
                    </a>
                }
                {
                    publication.data.preprintURL !== undefined
                    && <a
                        href={publication.data.preprintURL}
                        target="_blank"
                        class="btn btn-primary md:btn-block"
                    >
                        <Icon name="mdi:file-eye-outline" class="size-4"/>
                        <span>Preprint</span>
                    </a>
                }
                {
                    publication.data.codeURL !== undefined
                    && <a
                        href={publication.data.codeURL}
                        target="_blank"
                        class="btn btn-primary md:btn-block"
                    >
                        <Icon name="mdi:code" class="size-4"/>
                        <span>Code</span>
                    </a>
                }
            </div>
        </div>
    </aside>

    <div class="prose">
        <Content />
    </div>

    {
        project !== undefined
        && <section slot="sidebar-end">
            <h2 class="heading-2 mt-0">Project</h2>
            <ProjectCard project={project} size="sm"/>
        </section>
    }

    <section slot="extra">
        <h2 class="heading-2">People</h2>
        <div class="xs:grid-cols-4 grid grid-cols-3 justify-items-center gap-3 lg:grid-cols-5">
            {
                people.map((person) => (
                    <PersonCard person={person} size="sm"/>
                ))
            }
        </div>
    </section>
</Base>
