---
import PersonCard from '#components/PersonCard.astro';
import Sidebar from '#layouts/Sidebar.astro';
import { Icon } from 'astro-icon/components';
import {
    getEntries,
    getCollection,
    render,
} from 'astro:content';

export async function getStaticPaths() {
    const publications = await getCollection('publications');
    return publications.map((publication) => ({
        params: { id: publication.id },
        props: { publication },
    }));
}

const { publication } = Astro.props;
const { Content } = await render(publication);
const people = await getEntries(publication.data.people ?? []);
---
<Sidebar
    title={publication.data.title}
    subheading={publication.data.authors}
    breadcrumbs={[{ url: '/publications', name: 'Publications' }]}
>
    <aside slot="sidebar" class="card bg-base-200 shadow-sm">
        <div class="card-body flex shrink-0 flex-col justify-start gap-3">
            <span class="font-lg font-medium">We can also put an image here.</span>
            <span class="font-lg font-medium">{publication.data.date.toLocaleDateString(undefined, { year: 'numeric', month: 'long' })}</span>
            <div class="flex flex-row flex-wrap gap-1">
                <div class="badge badge-primary badge-outline font-medium">
                    <span>{publication.data.venue}</span>
                </div>
                {
                    publication.data.award !== undefined
                    && <div class="badge badge-primary font-medium">
                        <Icon name="mdi:trophy" class="size-4"/>
                        <span>{publication.data.award}</span>
                    </div>
                }
            </div>
        </div>
    </aside>

    <div class="prose">
        <Content />
    </div>

    <section slot="extra">
        <h2 class="heading-2">People</h2>
        <div class="xs:grid-cols-4 grid grid-cols-3 justify-items-center gap-3 lg:grid-cols-5">
            {
                people.map((person) => (
                    <PersonCard person={person} size="sm"/>
                ))
            }
        </div>
    </section>
</Sidebar>
