---
import '../styles/app.css';
import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
    title?: string | null
    canonical?: boolean
}>;

const {
    frontmatter: { title, canonical = true },
} = Astro.props;

const siteTitle = 'RISEN Lab';

// Set the canonical URL to the current page URL, omitting a trailing slash
const path = Astro.url.pathname.replace(/^\/|\.html$/g, '');
const canonicalURL = (Astro.site?.toString() ?? '').replace(/\/$/, '') + (path !== '' ? `/${path}` : '');
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `${title} | ${siteTitle}` : siteTitle}</title>
        {canonical
            && <link rel="canonical" href={canonicalURL}>
        }
    </head>
    <body class="bg-base-100 flex flex-col items-center">
        <div class="flex w-full max-w-[1000px] grow flex-col p-7">
            <main class="prose">
                <slot />
            </main>
        </div>
    </body>
</html>
