---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
    person: CollectionEntry<'people'>;
    size: number;
    shadow?: boolean;
    responsive?: boolean;
    class?: string;
} & HTMLAttributes<'div'>;

const {
    person, size, shadow = false, responsive = false, class: classes = '', ...rest
} = Astro.props;
---
<div class="avatar avatar-placeholder" class:list={classes} {...rest}>
    <div class={'rounded-full bg-gray-300'} class:list={{ 'shadow-lg': shadow }} style={responsive ? 'width: 100%' : `width: ${size}px;`}>
        {
            person.data.photo !== undefined
                ? <Picture src={person.data.photo} alt={person.data.name} layout="full-width" width={size} height={size} class="rounded-full"/>
                : <Icon name="mdi:account" class="w-full p-[12.5%] text-gray-700" />
        }
    </div>
</div>
