---
import { type CollectionEntry } from 'astro:content';
import PersonAvatar from '#components/PersonAvatar.astro';

type Props = {
    person: CollectionEntry<'people'>;
};

const { person } = Astro.props;

const typeLabel = {
    member: 'Member',
    former: 'Former',
    external: 'External',
};
---
<a
    href={person.data.hasPage ? `/people/${person.id}` : person.data.personalURL ?? '#'}
    class="btn btn-ghost h-full max-w-[200px] py-4"
>
    <article class="flex flex-col gap-2">
        <PersonAvatar person={person} size={250} shadow responsive/>
        <div class="text-center">
            <h3 class="text-lg font-semibold">{person.data.name}</h3>
            <span class="text-sm font-semibold opacity-70">{person.data.role}{person.data.type !== 'member' ? ` (${typeLabel[person.data.type]})` : ''}</span>
        </div>
    </article>
</a>
