---
import { Icon } from 'astro-icon/components';
import type { HTMLAttributes } from 'astro/types';
import { Picture } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

type Props = {
    project: CollectionEntry<'projects'>;
    size: number;
    responsive?: boolean;
    class?: string;
} & HTMLAttributes<'div'>;

const {
    project, size, responsive = false, class: classes = '', ...rest
} = Astro.props;

const aspectRatio = 4 / 3;
---
<div
    class="flex items-center justify-center overflow-hidden bg-gray-300"
    style={{
        'aspect-ratio': aspectRatio,
        width: responsive ? '100%' : `${size}px`,
    }}
    class:list={classes} {...rest}
>
    {
        project.data.image !== undefined
            ? <Picture src={project.data.image} alt={project.data.title} layout="full-width" width={size} height={size / aspectRatio}/>
            : <Icon name="mdi:image-area" class="text-gray-700" width="75%" height={`${(1 / aspectRatio) * 75}%`}/>
    }
</div>
