---
import type { MarkdownLayoutProps } from 'astro';
import '#styles/app.css';
import Navigation from '#components/Navigation.astro';
import { Icon } from 'astro-icon/components';

export type PropsBase = {
    title: string;
    heading?: string | false;
    canonical?: boolean;
    breadcrumbs?: { url?: string, name: string }[] | false;
};
export type Props = MarkdownLayoutProps<PropsBase> | PropsBase;
const {
    title, heading, canonical = true, breadcrumbs = [],
} = 'frontmatter' in Astro.props ? Astro.props.frontmatter : Astro.props;
const siteTitle = 'RISEN Lab';

// Set the canonical URL to the current page URL, omitting a trailing slash
const path = Astro.url.pathname.replace(/^\/|\.html$/g, '');
const canonicalURL = (Astro.site?.toString() ?? '').replace(/\/$/, '') + (path !== '' ? `/${path}` : '');
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="generator" content={Astro.generator} />
        <title>{title ? `${title} | ${siteTitle}` : siteTitle}</title>
        {canonical
            && <link rel="canonical" href={canonicalURL}>
        }
    </head>
    <body class="bg-base-100 flex flex-col items-center">
        <header class="stick bg-primary text-primary-content top-0 z-50 flex w-full justify-center shadow">
            <nav class="navbar max-w-5xl px-4">
                <div class="navbar-start">
                    <a href="/">
                        <img src="/logo-white.svg" alt="RISEN Lab Logo" class="w-30"/>
                    </a>

                    {/* Desktop menu */}
                    <ul class="menu menu-horizontal hidden font-semibold md:flex">
                        <Navigation />
                    </ul>
                </div>
                <div class="navbar-end">
                    {/* Mobile menu */}
                    <div class="dropdown dropdown-end">
                        <div tabindex="0" role="button" class="btn btn-ghost btn-square md:hidden">
                            <Icon name="mdi:menu" class="size-8"/>
                        </div>
                        <ul class="menu dropdown-content bg-base-200 rounded-box text-base-content z-10 mt-5 w-52 items-start overflow-hidden p-2 font-semibold shadow">
                            <Navigation />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="flex w-full max-w-5xl grow flex-col p-4">
            {
                breadcrumbs !== false
                    && <div class="breadcrumbs text-sm">
                        <ul>
                            <li><a href="/">Home</a></li>
                            {
                                breadcrumbs.map(({ name, url }) => (
                                    url !== undefined
                                        ? <li><a href={url}>{name}</a></li>
                                        : <li>{name}</li>
                                ))
                            }
                            <li>{title}</li>
                        </ul>
                    </div>
            }
            {
                heading !== false
                    && <h1 class="heading-1 max-w-[65ch]">{heading ?? title}</h1>
            }
            <div class="flex flex-col items-stretch gap-x-10 gap-y-5 md:flex-row">
                <main class="order-last shrink grow md:order-first">
                    <slot />
                </main>
                {
                    Astro.slots.sidebar !== undefined
                        && <div class="relative order-first mt-3 w-full shrink-0 grow-0 md:order-last md:mt-0 md:max-w-[250px]">
                            <slot name="sidebar" />
                        </div>
                }
            </div>
        </div>
    </body>
</html>
